body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
}

#navList {
    overflow: hidden;
    position: fixed;
    margin-top: 0;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
}

#navList li a:hover {
    color: #000000;
}

#navList li {
    display: inline-flex;
    list-style: none;
    font-size: 110%;
}

#navList li a {
    text-decoration: none;
    color: #5F696B;
}

.navButtons {
    margin: 0% 50%;
}

.navRight {
    display: inline-flex;
    margin-left: 60%;
}

#homeButton {
    margin: 2%;
}

#midContent {
    margin-top: 3%;
    background-color: #5FCF80;
    padding: 10%;
    color: #FFFFFF;
}

#bottomContent {
    margin-top: 5%;
}

#bottomContent h2 {
    text-align: center;
}

#bottomContent table {
    width:80%;
    margin: 5% 10% 5% 10%;
}

.quote {
    text-align: center;
}

.quoter {
    text-align: right;
    font-family: 'Lobster' , cursive;
}

.middleQuote {
    margin-left: 5%;
    margin-right: 5%;
}

.fillerRow {
    visibility: hidden;
}

#animalPicTable {
    text-align: center;
    margin: 5% 15%;
    width: 70%;
}
.animalPic img {
    width: 70%;
}

#designerContent {
    text-align: center;
    background-color: #5FCF80;
    color: #FFFFFF;
    padding-top: 3%;
}

#designerContent img {
    border-radius: 50%;
    margin: 2%
}

.designerQuote {
    text-align: center;
    padding-bottom: 3%;
    margin-bottom: 0;
}

#footerContent {
    text-align: center;
    padding: 5% 0%;
    background-color: #F4F7F8;
}

#footerTable {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    table-layout: fixed;
}

#footerTable td {
    text-align: center;
}

#footerTable td a{
    text-decoration: none;
    color: #5F696B;
}

#footerTable td a:hover{
    color: #000000;
}

#midContentAnimals {
    margin-top: 3%;
    background-color: #5FCF80;
    padding: 10%;
    color: #FFFFFF;
    text-align: center;
}

#animalTableOne {
    margin: 5%;
}

#animalTableOne tr td img{
    height: 50%
}

#animalListOne li {
    margin: 3%;
    list-style: none;
}

.lowContentAnimals {
    text-align: center;
    color: #FFFFFF;
    padding: 11%;
    margin: 3% 0%;
}

#animalTableTwo {
	margin: 5%;
}

#animalTableTwo td {
	width: 33%;
}

#animalTableTwo tr td img{
    height: 50%;
}

#animalListTwo li {
    margin: 3%;
    list-style: none;
}

#tigerFactLower {
    background-color: #F25A28;
}

#bearFactLower {
    background-color: #33AED2;
}

#lionFactLower {
    background-color: #BFA47A;
}

@media only screen and (max-width: 1680px) {
    .navRight {
        margin-left: 30%;
    }
}

@media only screen and (max-width: 1080px) {
    .navRight {
        margin-left: 0;
    }
}
